*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #c6246c 3.91%,
    #c9256b 3.91%,
    #74107c 100%,
    #77117b 100%
  );
  color: white;
  font-family: 'Open Sans';
}


/* CONTAINER */

.container{
  margin: 0 8vw;
}

.container .buttons{
  display: flex;
  justify-content: space-between;
}

.container .buttons button{
  background: rgba(86, 16, 90, 0.5);
  border-radius: 12px 12px 0px 0px;
  border: none;
  color: white;
  padding: 1rem 6rem;
  font-size: 3rem;
}

.container .buttons button:hover{
  cursor: pointer;
}

.sub-container{
  background: rgba(86, 16, 90, 0.5);
  border-radius: 0px 12px 12px 12px;
  padding: 2rem;
}

.card-1{
  background: linear-gradient(90.27deg, rgba(255, 255, 255, 0.35) 0.23%, rgba(255, 255, 255, 0.133) 100%);
  border-radius: 16px;
}

footer{
    background: linear-gradient(135.77deg, rgba(255, 255, 255, 0.4) -94.16%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(42px);
height: 30vh;
border: 1px solid white;

/* border-image-source: linear-gradient(137.55deg, #FFFFFF -45.47%, rgba(255, 255, 255, 0) 132.54%); */
}


